.divNav{
    display: flex;
    justify-content: center;
    
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 70vw;
    
}

.monCompte{
    background-color: rgb(194, 194, 194);
    border: none;
    
}

.notif{
    background-color: rgb(201, 201, 201);
    border: none;
    margin-right: 2vw;

}
